<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h1 class="display-4">My Favorite TV Programs</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
          featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" routerLink="/programs/add" role="button">Add a Program</a>
      </div>

      
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12" *ngIf="pgmList && pgmList.length > 0">
        <h1 class="display-1">Listing Programs <span class="badge badge-primary">{{pgmList.length}}</span></h1>
        <p class="lead">
          Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
        <article *ngFor="let pgm of pgmList">
          <div class="media">
            <img class="align-self-start mr-3 img-thumbnail" src="https://cdn3.iconfinder.com/data/icons/technology-mix/200/Technology_Mix_-_Final-28-64.png"
              alt="{{ pgm.title }}">
            <div class="media-body">
              <h5 class="mt-0"><a routerLink="/programs/{{pgm.id}}">{{ pgm.title }}</a> BBC Earth</h5>
              <p>{{ pgm.body }}</p>
            </div>
          </div>
        </article>
    </div>
  </div>
</div>