<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h1 class="display-4">My Favorite TV Programs</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
          featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" routerLink="/programs/add" role="button">Add a Program</a>
      </div>

      
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <h1 class="display-1">Listing Programs <span class="badge badge-primary">3</span></h1>
        <p class="lead">
          Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
        <article>
          <div class="media">
            <img class="align-self-start mr-3 img-thumbnail" src="https://cdn3.iconfinder.com/data/icons/technology-mix/200/Technology_Mix_-_Final-28-64.png"
              alt="Planet Earth">
            <div class="media-body">
              <h5 class="mt-0"><a routerLink="/programs/1">Planet Earth</a> BBC Earth</h5>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                fringilla. Donec lacinia congue felis in faucibus.</p>
              <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus
                et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div>

          <div class="media">
            <img class="align-self-start mr-3 img-thumbnail" src="https://cdn1.iconfinder.com/data/icons/adventure-outline-1/64/Adventure-Line-09-64.png"
              alt="Man vs Wild">
            <div class="media-body">
              <h5 class="mt-0"><a href="#">Man vs Wild</a> Discovery</h5>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                fringilla. Donec lacinia congue felis in faucibus.</p>
              <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus
                et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div>

          <div class="media">
            <img class="align-self-start mr-3 img-thumbnail" src="https://cdn1.iconfinder.com/data/icons/school-outline-hand-drawn/70/icon_sets_school_outline_hand_drawn_iconfinder-04-64.png"
              alt="Destroyed...">
            <div class="media-body">
              <h5 class="mt-0"><a href="#">Destroyed in seconds</a> Discovery</h5>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                fringilla. Donec lacinia congue felis in faucibus.</p>
              <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus
                et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div>

        </article>
    </div>
  </div>
</div>